## 기본 연산

In [1]:
print(123 + 456)
print(100 * 1004)

579
100400

In [3]:
def func(a,b):
    c = a + b
    return c

a=[1,2]
b = [1,3]
for i,j in zip (a,b):

    print(func(i,j))

2
5

#### 정수형 상수의 표현 범위는 제한이 없으며, CPU 레지스터로 표현할 수 있는 크기보다 큰 정수를 다룰 때는 연산 속도가 느려집니다.

In [2]:
print(2 ** 64)

18446744073709551616

#### 정확히 나누어 떨어지지 않는 경우, 파이썬 에서는 소수점 15자리 까지 표현합니다.

In [3]:
print(5048 / 123)

41.040650406504064

#### 소수점 이하의 수를 모두 버리고 몫만 나타낼 때 ‘//’ 연산자를 사용

In [ ]:
print(5048 // 123)

#### 나머지를 구할 때 %’ 연산자를 사용

In [ ]:
print(33 % 5)

### 논리연산

In [4]:
# and 
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# or
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
print(not True)
print(not False)

### 비교연산

In [ ]:
#비교 판단
print(5 > 2)

In [ ]:
#숫자 비교
print(7 == 7)    # 7과 7이 같은지 비교
print(7 != 5)    # 7과 5가 다른지 비교

In [ ]:
#문자 비교
print('Python' == 'Python')
print('Python' == 'python')
print('Python' != 'python')

In [ ]:
#부등호 비교
print(1 > 2)    # 1이 2보다 큰지 비교
print(1 < 2)    # 1이 2보다 작은지 비교
print(1 >= 1)   # 1이 1보다 크거나 같은지 비교
print(1 <= 1)   # 1이 1보다 작거나 같은지 비교

In [ ]:
#객체비교
print(1 == 1.0)
print(1 is 1.0)
print(1 is not 1.0)

### 2.변수와 자료형

#### 변수

In [ ]:
# 변수만들기(할당)
x = 155
print(x)

In [ ]:
y = 'Hello, Python!'
print(y)

In [ ]:
# 여러 변수 만들기(할당)

x, y, z = 100, 200, 300
print(x)
print(y)
print(z)

In [5]:
#변수 삭제(메모리 할당 해제)
#변수 삭제는 del을 사용합니다. 변수 x를 삭제하여 변수가 없어졌으므로 x가 정의되지 않았다는 메시지와 함께 NameError가 발생합니다. 지금은 변수 삭제가 큰 의미가 없지만 나중에 리스트를 사용할 때 del이 유용하게 쓰임니다. 
x = 10
del x
print(x)

NameError: name 'x' is not defined

#### 자료형

##### 1) Numbers

In [ ]:
int_var1 = 1
print(int_var1)

In [ ]:
int_var2 = -10
print(int_var2)

In [ ]:
float_var1 = 15.20
print(float_var1)

In [13]:
float_var2 = 70.2-1E12
print(float_var2)

-999999999929.8

In [12]:
complex_var1 = 3.14j
print(complex_var1)

3.14j

In [ ]:
complex_var2 = 4.53e1-7j
print(complex_var2)

##### 2) Strings

In [ ]:
str = 'Hello World!'
print(str)

In [ ]:
print(str[0])

In [ ]:
print(str[2:5])

In [ ]:
print(str[2:])

In [ ]:
print(str * 2)

In [ ]:
print(str + "TEST")

##### 3) Lists

In [14]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list)

['abcd', 786, 2.23, 'john', 70.2]

In [15]:
print (list[0])

abcd

In [16]:
print (list[1:3])

[786, 2.23]

In [17]:
print (list[2:])

[2.23, 'john', 70.2]

In [18]:
print (tinylist * 2)

[123, 'john', 123, 'john']

In [19]:
print (list + tinylist)

['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

##### 4) Tuples

In [20]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')
print (tuple)

('abcd', 786, 2.23, 'john', 70.2)

In [21]:
print (tuple[0])

abcd

In [23]:
print (tuple[1:3])

(786, 2.23)

In [22]:
print (tuple[2:])

(2.23, 'john', 70.2)

In [26]:
print (tinytuple * 2)
print (tinytuple + tinytuple)

(123, 'john', 123, 'john')
(123, 'john', 123, 'john')

In [25]:
print (tuple + tinytuple)

print(tuple[0])

('abcd', 786, 2.23, 'john', 70.2, 123, 'john')
abcd

##### 5) Dictionary

In [6]:
dict = { }
dict['one'] = "This is one"
dict[2]     = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one'])
dict

This is one

{'one': 'This is one', 2: 'This is two'}

In [7]:
print (dict[2])

This is two

In [8]:
print (tinydict)

{'name': 'john', 'code': 6734, 'dept': 'sales'}

In [9]:
print (tinydict.keys())

dict_keys(['name', 'code', 'dept'])

In [10]:
print (tinydict.values())

dict_values(['john', 6734, 'sales'])

### 3.함수와 모듈

#### 함수

In [ ]:
# 함수 이름은 add이고 입력으로 2개의 값을 받으며 결과는 2개의 입력을 더한 값
def add(): 
    return a + b
a = 3
b = 4
c = add()
print(c)

#### 모듈

#### 새 노트북 창을 열어 mo1.py 모듈 만들기

In [11]:
def add(a, b):
    return a + b

def sub(a, b): 
    return a-b

In [27]:
import mo
print(mo.add(3, 4))
print(mo.sub(4, 2))

7
2

In [ ]:
from mo import add
add(3, 4)

In [5]:
import pandas as pd

# 엑셀 파일 읽기
reserv_df = pd.read_excel("reserv.xlsx")
order_df = pd.read_excel("order.xlsx")

AttributeError: module 'numpy' has no attribute '__version__'