### 1.데이터 그룹 분석

#### 집계합수

In [1]:
#판다스 라이브러리 불러오기
import pandas as pd 

#파일경로를 찾고 변수 file_path에 저장
file_path= 'exam_sample.csv'

#read csv()함수로 데이터프레임 변환 
df = pd.read_csv(file_path)
df

   student_no class  science  english  math sex
0           1     A       50       98    49   m
1           2     A       60       97    60   w
2           3     A       78       86    45   w
3           4     A       58       98    30   m
4           5     B       65       80    90   w
5           6     B       98       89    51   m
6           7     B       45       90    80   m
7           8     B       25       78    90   w
8           9     C       15       98    20   w
9          10     C       45       93    55   w

In [ ]:
 # 반별 로 그룹화(A,B,C반)
# 반별 그룹 오브젝트만 생성
df1 = df.groupby('class')
type(df1)
df1['science'].mean() # 과학 부분의 반 별 평균

class
A    61.50
B    58.25
C    30.00
Name: science, dtype: float64

In [4]:
# 반 중 A반 그룹만 확인
df1.get_group('A')

   student_no class  science  english  math sex
0           1     A       50       98    49   m
1           2     A       60       97    60   w
2           3     A       78       86    45   w
3           4     A       58       98    30   m

In [ ]:
# 반별 그룹 평균 확인 - 항상 groupby안에는 범주형만 들어가야한다. 숫자는 안됨.
df[['science','english','math']].groupby(df['class']).mean()

       science  english   math
class
A        61.50    94.75  46.00
B        58.25    84.25  77.75
C        30.00    95.50  37.50

In [6]:
# 반별,성별 그룹 평균 확인
df.groupby(['class','sex']).mean()

           student_no  science  english  math
class sex
A     m           2.5     54.0     98.0  39.5
      w           2.5     69.0     91.5  52.5
B     m           6.5     71.5     89.5  65.5
      w           6.5     45.0     79.0  90.0
C     w           9.5     30.0     95.5  37.5

In [9]:
# 반별 수학 평균
df['math'].groupby(df['class']).mean()
df.groupby(df['class'])['math'].mean()

class
A    46.00
B    77.75
C    37.50
Name: math, dtype: float64

In [ ]:
# 반별 수학 개수
df['math'].groupby(df['class']).count()

In [7]:
# 성별 수학평균
df_mean=df['math'].groupby(df['sex']).mean()

gendergroup = df.groupby('sex')

print(df_mean)
print(gendergroup)
print(gendergroup.groups)

sex
m    52.5
w    60.0
Name: math, dtype: float64
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x75dc19b23320>
{'m': [0, 3, 5, 6], 'w': [1, 2, 4, 7, 8, 9]}

In [8]:
# 남학생 수학평균
male=gendergroup.get_group('m')
subset = male[['sex', 'math']]
print(male)
print(subset)

   student_no class  science  english  math sex
0           1     A       50       98    49   m
3           4     A       58       98    30   m
5           6     B       98       89    51   m
6           7     B       45       90    80   m
  sex  math
0   m    49
3   m    30
5   m    51
6   m    80

### 2.데이터 재구조화

#### 데이터 구간화

In [ ]:
#판다스 라이브러리 불러오기
import pandas as pd 

#파일경로를 찾고 변수 file_path에 저장
file_path= 'exam_sample.csv'

#read csv()함수로 데이터프레임 변환 
df = pd.read_csv(file_path)
df

In [ ]:
#math 변수에 대해서 3개 동일한 길이로 범주형 변수로 만들어보자 범주 구간은 Categories (3, interval[float64]): [(19.93, 43.333] < (43.333, 66.667] < (66.667, 90.0]] 로 3개 구간 길이가 동일함을 알 수 있다.
df1=pd.cut(df.math, 3)
df1

In [ ]:
#math 변수에 3개 구간의 범주를 그룹 함수를 추가해서 각 범주의 그룹별로 agg( ) 함수인 개수(count), 평균(mean), 표준편차(std), 최소값(min), 최대값(max) 값을 계산해보자 
df2 = df.math.groupby(df1)
df2
df3=df2.agg(['count', 'mean', 'std', 'min', 'max'])
df3

In [ ]:
#pd.qcut() 함수를 사용 math에 대해서 각 범주 구간 별로 동일하게 3개의 개수를 가지도록 범주를 만들수도 있다. 이때 labels=False 로 설정하여 label이 0, 1, 2 구간을 0부터 순차적으로 1씩 증가하게 한다.  
df4= pd.qcut(df.math, 3, labels=False)
df4

In [ ]:
#아래처럼 labels=np.arange(3, 0, -1)로 직접 지정을 해주면 label이 3, 2, 1 로 3부터 1씩 줄어드는 순서로 할당이 된다. 위의 label 과 정 반대로 할당이 되었다. 

import numpy as np 
df5 = pd.qcut(df.math, 3, labels=np.arange(3, 0, -1))
df5

In [ ]:
 # [3 < 2 < 1] 순서로 동일 개수로 나눈 3개의 그룹별 통계량을 계산 할 수 있다. 
df6 = df.math.groupby(df5)
df7=df6.agg(['count', 'mean', 'std', 'min', 'max'])
df7

#### 원-핫인코딩

In [ ]:
# 유형확인
df.dtypes

In [ ]:
# 범주형 원핫코딩
df = pd.get_dummies(df)
df

#### 데이터 전치

In [ ]:
# 원자료
df = pd.read_csv(file_path)
df

In [ ]:
# 전치 자료
df.T

#### 피봇테이블

In [ ]:
# 원자료와 피봇 자료는 확인해보자
df

In [ ]:
# 반(class) 변수를 행 데이터로 피봇
pd.pivot_table(df,index='class', columns='sex', values='science')

In [ ]:
# 성별(sex) 변수를 행 데이터로 피봇
pd.pivot_table(df,index='sex', columns='class', values='science')

#### 멜트

In [ ]:
# 멜트 함수 
pd.melt(df,id_vars=['student_no', 'class'])

#### 스택/언스택

In [ ]:
df

In [ ]:
# 스택/언스택
df5 = df.stack()
df5

In [ ]:
df6 = df.unstack(level=-1)
df6

### 3. 시계열 데이터

#### 시간 조작

In [ ]:
# Period 객체는 to_period(freq='기간인수')를 통해 datetime 변수에 대해 어떤 기간에 따른 자료형을 생성하고자 할 때 주로 활용
#datetime 유형에 대해서만 적용 가능

# 시간 정의
dates = ['2020-01-03','2020-03-01','2021-09-01']
dates

In [ ]:
# 시간자료형 생성
import pandas as pd

ts_dates = pd.to_datetime(dates)
ts_dates

In [ ]:
# Timestamp를 Period변환
pr_day = ts_dates.to_period(freq='D')   #1일 기간
pr_day

In [ ]:
pr_month = ts_dates.to_period(freq='M') #1개월 기간
pr_month

In [ ]:
pr_year = ts_dates.to_period(freq='A')  #1년 기간
pr_year

#### 타임스탬프

In [ ]:
#판다스 라이브러리 불러오기
import pandas as pd 
#파일경로를 찾고 변수 file_path에 저장
file_path= 'timeseries.csv'
#read csv()함수로 데이터프레임 변환 
df= pd.read_csv(file_path)

# 현재 날짜를 나타내는 Date컬럼은 문자형(object)이므로 to_datetime()함수를 이용해서 Date컬럼을 시계열 객체(Timestamp)로 변환
df.info()
df['new_Date'] = pd.to_datetime(df['Date'])
print(df.head())
print('\n')

In [ ]:
print(df.info())
print('\n')
print(type(df['new_Date'][0]))

In [ ]:
# 기존 Date열을 지우고 new_Date를 인덱스로 지정
# 데이터요약정보를 보면, 인덱스가 DatetimeIndex변경 되었고 2015년07월02일에서 2019년06월26일 사이에 5개 날짜가 있다. 
df.drop('Date', axis = 1, inplace=True)
df.set_index('new_Date', inplace=True)
print(df.head())
print('\n')
print(df.info())

In [ ]:
# Timestamp와 Period의 차이 확인 , Timestamp를 Period로 변환
# Period객체는 to_period(freq='기간인수')를 통해 datetime변수에 대해 어떤 기간에 따른 자료형을 생성하고자 할 때 주로 활용된다. 아무 자료형이나 사용할 수 없고 datetime유형에 대해서만 적용 가능
dates = ['2020-01-01','2020-03-01','2021-09-01']
ts_dates = pd.to_datetime(dates)
print(ts_dates)
print('\n')

In [ ]:
# Timestamp를 Period변환
pr_day = ts_dates.to_period(freq='D')   #1일 기간
print(pr_day)
pr_month = ts_dates.to_period(freq='M') #1개월 기간
print(pr_month)
pr_year = ts_dates.to_period(freq='A')  #1년 기간
print(pr_year)

#### 기간함수

In [ ]:
timestamp_df = pd.date_range(start = '2020-01-01',  # 날짜 범위 시작
                     end = None, # 날짜 범위 끝
                     periods = 6, # 생성할 Timestamp 개수
                     freq = 'MS', # 시간 간격(MS : 월의 시작일)
                     tz = 'Asia/Seoul') # 시간대(timezone)
timestamp_df

In [ ]:
# period_range()
#Period는 기간을 나타내는 자료형 이므로, 배열을 적용할때 freq= 인자는 기간의 단위를 의미한다

# 1개월 기간
pr_m = pd.period_range(start = '2020-01-01',end = None,periods = 3,freq = 'M') 
print(pr_m)
print('\n')

# 1시간 기간
pr_h = pd.period_range(start = '2020-01-01',end = None,periods = 3,freq = 'H')           
print(pr_h)
print('\n')

# 2시간 기간
pr_2h = pd.period_range(start = '2020-01-01',end = None,periods = 3,freq = '2H')          
print(pr_2h)

In [ ]:
# 시계열 활용
# 날짜 데이터 분리 날짜 데이터 분리 : dt.year, dt.month, dt.day
#판다스 라이브러리 불러오기

import pandas as pd 
#파일경로를 찾고 변수 file_path에 저장
file_path= 'timeseries.csv'
#read csv()함수로 데이터프레임 변환 
df= pd.read_csv(file_path)
df.info()
df['new_Date'] = pd.to_datetime(df['Date'])
print(df.head())
print('\n')
 
df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.hour
df.head()

In [ ]:
# to_period()함수를 이용해 표기 변경 
df['Date_yr'] = df['new_Date'].dt.to_period(freq = 'A')  # 연도까지
df['Date_m'] = df['new_Date'].dt.to_period(freq = 'H')   # 연월까지
df.head()

In [ ]:
# 날짜 인덱스 지정
df.set_index('new_Date',inplace=True)
df.head()

In [ ]:
# 날짜 인덱싱
print(df.loc['2015-07']) # 7월에 해당하는 row 인덱싱
print('\n')
print(df['2019-06']) # 6월에 해당하는 row 인덱싱
print('\n')
print(df['2018-06-25' : '2018-06-20'])  # 해당기간의 인덱싱

In [ ]:
# 오늘날짜와 차리 열 추가
today = pd.to_datetime('2020-03-18')
df['time_diff'] = today - df.index
df.head()

In [ ]:
# 데이터를 다시 불러와 시간 인덱스 지정 후 단순 시각화
import pandas as pd 
#파일경로를 찾고 변수 file_path에 저장
file_path= 'timeseries.csv'
#read csv()함수로 데이터프레임 변환 
df= pd.read_csv(file_path)
df['new_Date'] = pd.to_datetime(df['Date'])
df.set_index('new_Date',inplace=True)
df.plot()