## 1. 판다스 데이터구조

## 2. 시리즈와 데이터프레임

### 시리즈

In [1]:
#라이브러리 불러오기
import pandas as pd
sd1 = pd.Series(['Dog','Cat','Tiger','Lion','Monkey'],index=['0','1', '2','3','4']) 

#시리즈데이터 출력
sd1

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

### 시리즈 - 1) 딕셔너리

In [2]:
import pandas as pd
#딕셔너리로 Series 생성
dict_data = {'a':1,'b':2,'c':3}
sd2 = pd.Series(dict_data)

#타입 확인
type(sd2)

sd2

a    1
b    2
c    3
dtype: int64

### 시리즈 - 2) 리스트

In [ ]:
import pandas as pd

#리스트로 Series 생성
list_data = ['Dog','Cat','Tiger','Lion','Monkey']
pd3 = pd.Series(list_data,index = ['0','1', '2','3','4']) 

#데이터 확인
print(type(pd3))
print(pd3)

### 시리즈 - 3) 튜플

In [ ]:
import pandas as pd
#튜플로 Series 생성
tup_data = ('이순신','1991-03-15','남')
sd4 = pd.Series(tup_data, index = ['이름','생년월일','성별'])

#데이터 확인
sd4.info()

### 데이터프레임

### 데이터프레임- 1) 딕셔너리

In [ ]:
#라이브러리 불러오기
import pandas as pd

#딕셔너리로로 데이터프레임 생성
dict_data = {'동물':['Dog','Cat','Tiger','Lion','Monkey'],'나이':[7,9,2,3,1]}
df1 = pd.DataFrame(dict_data)

#타입 확인
print(type(df1))

#데이터 확인
print(df1)

### 데이터프레임 - 2) 리스트

In [ ]:
#라이브러리 불러오기
import pandas as pd

#리스트로 데이터프레임 생성
df2 = pd.DataFrame([['Dog','7'], ['Cat','9'], ['Tiger','2'], ['Lion','3'],['Monkey','1']],
                  index = ['0','1','2','3','4'],
                  columns = ['동물','나이'])

#타입 확인
print(type(df2))
#데이터 확인
print(df2)

## 3. 데이터프레임 조작

### 1) 데이터 요약 보기

In [4]:
# 관련 라이브러리 불러오기
import pandas as pd           #판다스
import seaborn as sns          #시본 

#데이터 준비 시본에 내장된 팁 데이터 
tips = sns.load_dataset("tips")    # 팁 데이터
print(type(tips))
tips

<class 'pandas.core.frame.DataFrame'>

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

#### 2) 행 상하위 데이터 추출

In [ ]:
#데이터프레임에서 BM' 열의 상위 5개 데이터 추출
tips.head()

In [ ]:
#데이터프레임에서 BM' 열의 상위 2개 데이터 추출
tips.head(2)

In [ ]:
#데이터프레임에서 열의 하위 데이터 추출
tips.tail()

In [ ]:
#데이터프레임에서 BMI '' 열의 하위 3개 데이터 추출
tips.tail(3)

### 행 데이터

#### loc와 iloc 인덱스와 행번호란?

In [6]:
tips1 = tips.drop([1]) 
tips1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

In [7]:
tips1.iloc[2]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [8]:
tips1.loc[2]

total_bill     21.01
tip              3.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 2, dtype: object

In [9]:
#데이터프레임의 기본 정보 확인 
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

#### 1) 인덱스 읽기

In [10]:
#데이터프레임에서 프레임에서 인덱스가 0인 데이터 추출 
tips.loc[0]

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [11]:
#1, 3, 5 인덱스의 데이터를 한꺼번에 가져오기
tips.loc[[1,3,5]]

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
3       23.68  3.31  Male     No  Sun  Dinner     2
5       25.29  4.71  Male     No  Sun  Dinner     4

#### 2) 행번호 읽기

In [12]:
#데이터 프레임에서 0번째 행 데이터 추출
tips.iloc[0]

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [13]:
 #-1을 사용하여 마지막 행 데이터를 추출한 예제
tips.iloc[-1]

total_bill     18.78
tip              3.0
sex           Female
smoker            No
day             Thur
time          Dinner
size               2
Name: 243, dtype: object

#### 3) 특정 행 범위 영역을 선택

In [ ]:
# tips[0:3]라고 하면 0, 1, 2번째 행을 출력합니다. 데이터프레임의 첫 번째 행을 0번째 행이라고 가정하며 
# [0:3]이라고 입력했지만 3번째 행을 가져오지 않음에 유의하세요.
tips[0:3]

In [ ]:
tips.iloc[0:3]

In [ ]:
tips.loc[0:3]

In [14]:
tips.loc[0:3,['sex','day']]

      sex  day
0  Female  Sun
1    Male  Sun
2    Male  Sun
3    Male  Sun

In [ ]:
tips.loc[0,['sex','day']]

In [15]:
#특정 인덱스 값과 특정 컬럼에 있는 값 가져오기. 
#.at을 이용할 수도 있습니다. 

tips.at[0,'sex']

'Female'

In [16]:
# 위치를 이용하여 선택하기: .iloc
tips.iloc[3]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [17]:
#인덱스 번호로 행뿐만 아니라 열도 선택할 수 있습니다. 

tips.iloc[3:5,0:2]

   total_bill   tip
3       23.68  3.31
4       24.59  3.61

In [ ]:
#행과 열의 인덱스를 리스트로 넘겨줄 수도 있습니다. 
tips.iloc[[1,2,4],[0,2]]

In [ ]:
# 명시적으로 행이나 열 선택 인자에 ‘:’ 슬라이스를 전달하면 
tips.iloc[1:3,:]

In [ ]:
tips.iloc[:,1:3]

In [18]:
#값 하나를 선택하기 위해서는 특정 행과 열을 지정
tips.iloc[1,1]

np.float64(1.66)

In [19]:
tips.iat[1,1]

np.float64(1.66)

### 4) 조건을 이용하여 선택

In [ ]:
# 조건은 컬럼 데이터를 조건식과 비교하여 데이터를 추출하는 데이터베이스 SQL과 유사합니다
# 전체 데이터중 팁이 5 달러 이상
tips[tips.tip > 5]

In [ ]:
# and 조건 – 남자 손님이면서 비흡연자
tips[(tips['sex']=='Male') & (tips['smoker']=='No')]

### 5) 특정 조건 선택

In [ ]:
# 특정조건 선택시 ‘isin’ 함수를 많이 사용합니다. 
# 일요일 이면 True
[tips['day'].isin(['Sun'])]

In [ ]:
# 팁을 1달러 지불한 고객
tips[tips['tip'].isin([1])]

### 열 변수

#### 1) 열변수 추출

In [ ]:
#데이터프레임에서 tips과 손님수 가지고 오기
tips.tip

In [ ]:
tips['size']

#### 2) 여러 개 열 변수 한 번에 추출하기

In [ ]:
#데이터프레임 'total_bill ', 'tip', 'day' 열 변수 추출
tips [['total_bill','tip','day']]

#### 3) 파생변수 만들기

In [ ]:
# 금액과 팁의 합계인 총액 (total)파생변수 만들기
tips['total'] = tips['total_bill'] + tips['tip']
tips['total']

#### 4) 열 데이터 자료형 확인 및 변환

In [ ]:
#데이터프레임 자료형 확인
tips.dtypes

In [ ]:
#데이터프레임 열의 자료형 확인
type(tips.total_bill)

In [ ]:
#데이터프레임 자료형 변환
#카테고리형의 흡연 유무를 문자열으로 변환하여 삽입
tips['smoker_str']=tips['smoker'].astype(str)
tips.dtypes

#### 주의 :  자료형 중 카테고리형(category)과 문자열(object)의 차이

In [ ]:
tips.info()

In [ ]:
tips['smoker_str'] =tips['smoker'].astype('category')
tips.info()

### 데이터조작

#### 1)데이터 개수확인

In [ ]:
#데이터프레임의 개수 확인 
tips.count( )

In [ ]:
len(tips)

#### 2) 기타 보기

In [ ]:
# 데이터프레임 인덱스 보기
tips.index

In [ ]:
# 데이터프레임 컬럼 보기
tips.columns

In [ ]:
# 행, 열 구조 보기 
tips.values

#### 3) 정렬

In [ ]:
# 지급액'열(by=' total_bill ')을 기준으로 index(axis=0) 오름차순 정렬하기
tips.sort_values(by=['total_bill'], axis=0)

In [ ]:
# 지급액'열(by=' total_bill ')을 기준으로 index(axis=0) 내림차순 정렬하기 ascending=False 옵션 추가 
tips.sort_values(by=['total_bill'], axis=0, ascending=False)

In [ ]:
#열 이름을 (알파벳 순서로) 정렬하기 : axis=1
tips.sort_index(axis=1)

#### 4) 행/열 합계

In [ ]:
# 행 합계를 구할 때는 sum(axis=1) 메서드를 사용한다.
tips.sum(axis=1)

In [ ]:
# 열 합계를 구할 때는 sum(axis=0) 메서드를 사용하는데 axis인수의 디폴트 값이 0이므로 axis인수를 생략할 수 있다.
tips.sum()

## 4. 데이터 병합과 연결

### 데이터 연결

In [ ]:
import pandas as pd

# 시리즈를 데이터프레임의 새로운 행으로 연결하려면
s1 = pd.Series([0, 1], index=['A', 'B'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
print(s1)
print(s2)
print(pd.concat([s1, s2]))

In [ ]:
#만약 옆으로 데이터 열을 연결하고 싶으면 axis=1로 인수를 설정한다.
df1 = pd.DataFrame([['Dog','3'], ['Bird','10'], ['Tiger','6'], ['Moose','3']],
                  index = ['0','1','2','3'],
                  columns = ['동물','나이'])
df1

In [ ]:
df2 = pd.DataFrame([['집','0'], ['초원','0'], ['수풀','0'], ['초원','1']],
                  index = ['0','1','2','3'],
                  columns = ['사는곳','뿔의 개수'])
df2

In [ ]:
pd.concat([df1, df2], axis=1)

### 데이터 병합

In [ ]:
import pandas as pd

# 병합용 데이터프레임 생성
df1 = pd.DataFrame({ '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['강감찬', '홍길동', '이순신', '장보고', '유관순', '신사임당', '세종대왕']
}, columns=['고객번호', '이름'])
df1

In [ ]:
df2 = pd.DataFrame({'고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2

In [ ]:
# inner join
pd.merge(df1, df2)

In [ ]:
# Full join 방식은 키 값이 한쪽에만 있어도 데이터를 보여준다.
pd.merge(df1, df2, how='outer')

In [ ]:
# left, right 방식은 각각 첫번째, 혹은 두번째 데이터프레임의 키 값을 모두 보여준다.
pd.merge(df1, df2, how='left')

In [ ]:
pd.merge(df1, df2, how='right')

## 5. 단일변수 데이터 보기

### 범주형

In [ ]:
# 관련 라이브러리 불러오기
import pandas as pd           #판다스
import seaborn as sns          #시본 

#데이터 준비 
tips = sns.load_dataset("tips")    # 팁 데이터

#데이터 보기
tips

In [ ]:
# 성별 범주형 빈도분석
tips['sex'].value_counts()

In [ ]:
# 요일별 범주형 빈도분석
tips['day'].value_counts()

### 연속형

In [ ]:
# tips 데이터 유형 확인 
# tips 데이터의 범주형(category) 변수는 sex,smoker,day,time 4개 
tips.dtypes

In [ ]:
# float에 대한 기술통계
tips.describe()

In [ ]:
tips

num = tips['sex'].value_counts()

print("남자: %d명, 여자: %d명" %(num['Male'], num['Female']))


tips['tip'].groupby(tips['sex']).sum()
tips['tip'].groupby(tips['sex']).mean()

# 요일별 팁 액수 출력하기
#
#
#

tips['tip_prop'] = tips['tip']/tips['total_bill'] * 100

# 성별 팁 비율 계산하기


# 요일별 팁 비율 계산하기

In [ ]:
# 남녀 나눠서 데이터 처리

man = tips[tips['sex' ]== 'Male']
woman = tips[tips['sex' ]== 'Female']

man['tip'].sum()

# 남성 평균 팁

# 여성 평균 팁

In [ ]:
import pandas as pd

reservation = pd.read_excel('reservation.xlsx')
orderInfo = pd.read_excel('order_info.xlsx')

# 2 개의 데이터프레임을 합치기

a = pd.merge(reservation, orderInfo)
a

# 합친 데이터를 액셀파일로 만들기

# customer 별 매출 계산하기

# 브랜치별 매출 계산하기